.updateContainer {
  margin: 20px;
  display: flex;
  flex-direction: column; /* Элементы располагаются вертикально */
  align-items: center; /* Центрирование по горизонтали */
  gap: 10px; /* Расстояние между элементами */
}

.updateInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Ширина на всю доступную ширину контейнера */
  max-width: 800px; /* Ограничение максимальной ширины */
  margin-bottom: 20px;
}

.addButton {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content; /* Ширина под текст */
}

.inputError {
  color: red;
}

.addButton:hover {
  background-color: #218838;
}
