/* Общие стили */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: stretch;
  height: 100vh; /* Высота на весь экран */
}

/* Контейнер для приложения */
.todoApp {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
h1 {
  text-align: center;
  color: #333;
  margin-top: 15px;
}

/* Стили для формы добавления задачи */
.todoForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todoInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.todooOptions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.optionsButton {
  padding: 10px 15px;
  /* font-size: 14px; */
  color: white;
  background-color: #007bff; /* Основной цвет кнопки */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.optionsButton:hover {
  background-color: #0056b3; /* Изменение цвета кнопки при наведении */
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border: 5px solid gray;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.addButton {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.3s ease;
}

.inputError {
  color: red;
}

.addButton:hover {
  background-color: #218838;
}

.addButton:disabled {
  background-color: gray;
}

/* Стили для списка задач */
.todoList {
  list-style-type: none;
  padding: 0;
}

.todoItem {
  display: flex;
  max-width: 800px; /* Максимальная ширина элемента li */
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  overflow: hidden; /* Скрываем текст, который выходит за пределы */
  text-overflow: ellipsis; /* Добавляем троеточие в конце */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todoItem:last-child {
  border-bottom: none; /* Убираем границу у последнего элемента */
}

.todoText {
  flex: 1;
  font-size: 18px;
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  overflow: hidden; /* Скрываем текст, который выходит за пределы */
  text-overflow: ellipsis; /* Добавляем троеточие в конце */
  color: #444;
}

.todoText a {
  color: #444;
}

.updateButton {
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.updateButton:hover {
  background-color: #e67e22;
}

/* Кнопка удаления задачи */
.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.deleteButton:hover {
  background-color: #c82333;
}
